@media (min-width: 0px) {
    .landing-section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        & .landing-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10em 1em 1em 1em;
            height: 100%;
            z-index: 3;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.25);
            -webkit-backdrop-filter: blur(11.0px);
            border: 1px solid rgba(255, 255, 255, 0.18);



            & h1 {
                margin-bottom: 10px;
                font-size: 2.2em;
            }

            & p {
                margin-bottom: 15px;
                font-size: 1.3em;
            }

            & .btns {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                & a {
                    margin-right: 10px;
                }
            }

        }
    }

    // Intro Section
    .intro-section {
        width: 100%;

        & .intro-container {
            max-width: 1200px;
            margin: auto;
        }

        & .intro-heading {
            padding: 3em 1em;
            text-align: center;

            & h2 {
                margin-bottom: .5em;
            }

            & p {
                line-height: 1.5;
            }
        }

        & .services {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            grid-gap: 1em;
            padding: 1em;
            z-index: 4;
        }

        & .service {
            padding: 2em 1em;
            margin-bottom: 1em;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 100%;
            height: 325px;
            border-radius: $pri-bdr-rad;
            text-align: center;
            background-color: white;
            border: 3px solid $primaryred;
            z-index: 3;

            & img {
                width: 3em;
                height: 3em;
            }

            & :nth-child(2) {

                & :nth-child(1) {
                    margin-bottom: .2em;
                }

                & :nth-child(2) {
                    color: $secondary-text-color;
                }
            }
        }
    }

    // Pricing Section
    .pricing-section {
        width: 100%;
        height: auto;

        & .pricing-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            width: 100%;

            & .pricing-intro {
                padding: 1em;

                & .textcolor {
                    color: $primaryred;
                }

                & .pricing-plan {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;

                    & h2 {
                        margin-bottom: 20px;
                    }

                    & *:nth-child(2),
                    :nth-child(3) {
                        margin-bottom: 20px;
                        color: $lightgray
                    }
                }

                & img {
                    max-width: 100%;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                & .list-item {
                    padding: .5em;
                    display: flex;
                    width: 90%;
                    margin: auto;
                    line-height: 1.5em;
                    margin-bottom: 1em;

                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.2em;
                            font-weight: bold;
                            margin-bottom: .3em;
                        }

                        & :nth-child(2) {
                            color: $lightgray;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        margin-top: .1em;
                        min-width: 23px;
                        max-width: 23px;
                        min-height: 23px;
                        max-height: 23px;
                    }

                }
            }
        }
    }

    // Port Cards 
    .portfolio-section {
        width: 100%;

        & .portfolio-container {
            max-width: 1200px;
            width: 100%;
            margin: auto;


            & .portfolio-heading {
                margin-bottom: 1em;
                padding: 1em;

            }

            & .portfolio-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            }
        }
    }
}

@media (min-width: 768px) {

    // Landing 
}

@media (min-width: 1024px) {


    // Intro Section
  

    // Pricing Section
    .pricing-section {
        width: 100%;

        & .pricing-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            width: 100%;
            max-width: 1200px;
            margin: auto;

            & .pricing-intro {
                padding: 1em;
                width: auto;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                place-items: center;
                grid-gap: 1em;

                & .textcolor {
                    color: $primaryred;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                }

                & img {
                    max-width: 100%;
                    margin-bottom: .2em;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto;
                place-items: center;
                max-width: 80%;
                margin: auto;

                & .list-item {
                    padding: 0 .5em;
                    display: flex;
                    width: 100%;
                    line-height: 1.5em;
                    margin: 0;
                    margin-bottom: 1em;
                    height: 100%;


                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.2em;
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        width: 3em;
                    }

                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .landing-section {
        height: 786px;
    }

    // Pricing Section
    .pricing-section {
        width: 100%;

        & .pricing-container {
            display: grid;
            grid-gap: 2em;
            width: 100%;
            max-width: max-content;
            margin: auto;
            max-width: 1200px;

            & .pricing-intro {
                padding: 1em;
                width: auto;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                place-items: center;
                grid-gap: 0em;

                & .textcolor {
                    color: $primaryred;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                    width: 100%;
                }

                & img {
                    width: 70%;
                    margin-bottom: .2em;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: auto;
                place-items: center;
                max-width: 100%;
                margin: auto;
                padding: 1em;

                & .list-item {
                    padding: 0 .5em;
                    display: flex;
                    width: 100%;
                    line-height: 1.5em;
                    margin: 0;
                    margin-bottom: 1em;
                    height: 100%;


                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {
                        content: url(/images/check.svg);
                        width: 3em;
                    }

                }
            }
        }
    }
}