// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/* Main Container CSS */
@media (min-width: 0px) {
    body {
        background-image: linear-gradient(0deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(157.5deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(112.5deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(90deg, rgb(213, 229, 183) 0%, rgb(213, 229, 183) 17%,rgb(189, 213, 190) 17%, rgb(189, 213, 190) 29%,rgb(166, 196, 196) 29%, rgb(166, 196, 196) 38%,rgb(142, 180, 203) 38%, rgb(142, 180, 203) 47%,rgb(118, 164, 210) 47%, rgb(118, 164, 210) 58%,rgb(95, 147, 216) 58%, rgb(95, 147, 216) 88%,rgb(71, 131, 223) 88%, rgb(71, 131, 223) 100%),linear-gradient(90deg, rgb(173, 92, 95),rgb(110, 20, 174)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    }
    .landing-section {
        position: relative;
        width: 100%;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50vh 40vh;
            height: 100%;
            overflow: hidden;
            place-items: center;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 1.3em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.3em;
                    margin-bottom: .5em;
                    font-size: .9em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: .7em 1em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }

    // Intro Section
    .intro-section {
        width: 100%;

        & .intro-heading {
            padding: 1em;
            text-align: center;

            & h2 {
                margin-bottom: .5em;
            }

            & p {
                line-height: 1.4em;
            }
        }

        & .services {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            padding: 1em;
        }

        & .service {
            padding: 1em;
            text-align: center;
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5.0px);
            -webkit-backdrop-filter: blur(5.0px);
            border-radius: 0px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            margin-bottom: 1em;

            & *:nth-child(1) {
                font-size: 1.2em;
                font-weight: 900;
                margin-bottom: .5em;
            }
            & img {
                width: 3em;
                height: 3em;
            }
        }
    }
}

@media (min-width: 375px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40vh 60vh;
            place-items: center;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: 1.2em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 410px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40vh 50vh;
            place-items: center;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: 1.2em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 530px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40vh 60vh;
            place-items: center;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: 1.2em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;

        & .landing-container {
            position: relative;
            margin: auto;
            max-width: 80%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40vh 50vh;
            place-items: center;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: 1.2em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 1024px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;
        display: grid;
        place-items: center;

        & .landing-container {
            position: relative;
            margin: auto;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            place-items: center;
            overflow: hidden;
            height: auto;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: max-content;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 0;
                height: 100%;

                & h1 {
                    font-size: 2.1em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: .9em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .landing-section {
        height: auto;
    }
}