// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/* Main Container CSS */
@media (min-width: 0px) {
    .landing-section {
        position: relative;
        width: 100%;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50vh 40vh;
            height: 100%;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 1.3em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.3em;
                    margin-bottom: .5em;
                    font-size: .9em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: .7em 1em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 410px) {
    .landing-section {
        position: relative;
        height: 100vh;
        min-height: max-content;

        & .landing-container {
            position: relative;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 50vh);
            place-items: center;
            overflow: hidden;

            // &::before {
            //     content: '';
            //     background-image: url(/images/iphone12psd.png);
            //     background-size: cover;
            //     background-position: center;
            //     left: 50%;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 2;
            //     width: 250px;
            //     height: 250px;
            // }

            & .landing-heading {
                height: 100%;
                position: relative;
                height: max-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 1em;
                top: 2em;

                & h1 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                & p {
                    line-height: 1.5em;
                    margin-bottom: .7em;
                    font-size: 1.2em;
                }

                & a {
                    color: #fff;
                    text-decoration: none;
                }

                & .landing-btn {
                    box-shadow: $box-shadow;
                    padding: 1em 1.7em;
                    background-color: $black;
                    border: 0;

                }
            }

            & img {
                width: 100%;
            }

            & .landing-icon {
                font-size: 1.5em;
            }
        }
    }
}