// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/* Main Container CSS */
@media (min-width: 0px) {
    .landing-section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
            background-image: radial-gradient(circle farthest-side at 100% 100%,#424242,#1a1918);

        & .landing-container {
            width: 100%;
            max-width: 1200px;
            padding: 1em;
            height: 100%;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

                & h1 {
                    margin-bottom: 10px;
                    font-size: 2em;
                    color: white;
                }

                & p {
                    margin-bottom: 10px;
                    color: $lightgray;
                }

                    & a {
                        margin-right: 10px;
                    }

        }

        & .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }

    // Intro Section
    .intro-section {
        width: 100%;

        & .intro-heading {
            padding: 1em;
            text-align: center;

            & h2 {
                margin-bottom: .5em;
            }

            & p {
                line-height: 1.4em;
            }
        }

        & .services {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            padding: 1em;
        }

        & .service {
            padding: 1em;
            text-align: center;
            margin-bottom: 1em;
            height: 209px;
            height: auto;

            & *:nth-child(2) {
                font-size: 1.2em;
                font-weight: 900;
                margin-bottom: .5em;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.10);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(5.0px);
                -webkit-backdrop-filter: blur(5.0px);
                border-radius: .5em;
                transition: all .5s;
            }

            & img {
                width: 4em;
                height: 4em;
                margin-bottom: .5em;
            }
        }
    }

    // Pricing Section
    .pricing-section {
        width: 100%;
        height: auto;

        & .pricing-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            width: 100%;

            & .pricing-intro {
                padding: 1em;
                font-size: 1.2em;

                & .textcolor {
                    color: crimson;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                }

                & img {
                    max-width: 100%;
                }

                & .pricing-plan {
                    height: 100%;

                }

                & .p1 {
                    margin-bottom: .5em;
                    font-weight: 800;
                    font-size: 1.1em;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                & .list-item {
                    padding: .5em;
                    display: flex;
                    width: 90%;
                    margin: auto;
                    line-height: 1.5em;
                    margin-bottom: 1em;

                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.4em;
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        margin-top: .1em;
                        min-width: 23px;
                        max-width: 23px;
                        min-height: 23px;
                        max-height: 23px;
                    }

                }
            }
        }
    }

    .portfolio-section {
        width: 100%;

        & .portfolio-container {
            padding: 1em;
            max-width: 1200px;
            width: 100%;
            margin: auto;


            & .portfolio-heading {
                margin-bottom: 1em;

            }

            & .portfolio-cards {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;

            }
        }
    }
}


@media (min-width: 530px) {
    // Landing 


    // Intro Section
    .intro-section {
        width: 100%;

        & .intro-heading {
            padding: 1em;
            text-align: center;

            & h2 {
                margin-bottom: .5em;
            }

            & p {
                line-height: 1.4em;
            }
        }

        & .services {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            width: 70%;
            margin: auto;
            padding: 1em;
        }

        & .service {
            padding: 1em;
            text-align: center;
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5.0px);
            -webkit-backdrop-filter: blur(5.0px);
            border-radius: 0px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            margin-bottom: 1em;
            height: auto;

            & *:nth-child(2) {
                font-size: 1.2em;
                font-weight: 900;
                margin-bottom: .5em;
            }

            & img {
                width: 3.5em;
                height: 3.5em;
                margin-bottom: .5em;
            }
        }
    }

    // Pricing Section
    .pricing-section {
        width: 100%;
        height: auto;

        & .pricing-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            width: 100%;

            & .pricing-intro {
                padding: 1em;
                font-size: 1.2em;
                width: 80%;
                margin: auto;

                & .textcolor {
                    color: blue;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                }

                & img {
                    max-width: 100%;
                    margin-bottom: .2em;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto;
                place-items: center;
                padding: 1em;

                & .list-item {
                    padding: .5em;
                    display: flex;
                    width: 100%;
                    line-height: 1.5em;
                    margin-bottom: 1em;


                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.2em;
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        width: 3em;
                    }

                }
            }
        }
    }
}

@media (min-width: 768px) {
    // Landing 

}

@media (min-width: 1024px) {
    // Landing 

    // Intro Section
    .intro-section {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 2em;

        & .intro-heading {
            padding: 1em;
            text-align: center;

            & h2 {
                margin-bottom: .5em;
            }

            & p {
                line-height: 1.4em;
            }
        }

        & .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            padding: 1em;
            width: 100%;
            max-width: 1200px;
        }

        & .service {
            padding: 1em;
            text-align: center;
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5.0px);
            -webkit-backdrop-filter: blur(5.0px);
            border-radius: 0px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            margin-bottom: 0;
            margin: 0 .5em;
            height: auto;

            & *:nth-child(2) {
                font-size: 1.2em;
                font-weight: 900;
                margin-bottom: .5em;
            }

            & img {
                width: 3.5em;
                height: 3.5em;
                margin-bottom: .5em;
            }
        }
    }

    // Pricing Section
    .pricing-section {
        width: 100%;

        & .pricing-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            width: 100%;
            max-width: 1200px;
            margin: auto;

            & .pricing-intro {
                padding: 1em;
                font-size: 1.2em;
                width: auto;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                place-items: center;
                grid-gap: 1em;

                & .textcolor {
                    color: blue;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                }

                & img {
                    max-width: 100%;
                    margin-bottom: .2em;
                }

                & .pricing-plan {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: auto;
                place-items: center;
                max-width: 80%;
                margin: auto;

                & .list-item {
                    padding: 0 .5em;
                    display: flex;
                    width: 100%;
                    line-height: 1.5em;
                    margin: 0;
                    margin-bottom: 1em;
                    height: 100%;


                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.2em;
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        width: 3em;
                    }

                }
            }
        }
    }

    .portfolio-section {
        width: 100%;

        & .portfolio-container {
            padding: 1em;
            max-width: 1200px;
            margin: auto;


            & .portfolio-heading {
                margin-bottom: 1em;

            }

            & .portfolio-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;

            }
        }
    }
}

@media (min-width: 1200px) {
    .landing-section {
        height: 786px;
    }
}

@media (min-width: 1350px) {

    // Pricing Section
    .pricing-section {
        width: 100%;

        & .pricing-container {
            display: grid;
            grid-gap: 2em;
            width: 100%;
            max-width: max-content;
            margin: auto;
            max-width: 1200px;

            & .pricing-intro {
                padding: 1em;
                font-size: 1.2em;
                width: auto;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                place-items: center;
                grid-gap: 0em;

                & .textcolor {
                    color: blue;
                }

                & *:nth-child(2),
                :nth-child(3) {
                    margin-bottom: .7em;
                    width: 100%;
                }

                & img {
                    width: 70%;
                    margin-bottom: .2em;
                }

                & .pricing-plan {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
            }

            & .list-items {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: auto;
                place-items: center;
                max-width: 100%;
                margin: auto;
                padding: 1em;

                & .list-item {
                    padding: 0 .5em;
                    display: flex;
                    width: 100%;
                    line-height: 1.5em;
                    margin: 0;
                    margin-bottom: 1em;
                    height: 100%;


                    &>div {
                        padding: 0 .5em;

                        & *:nth-child(1) {
                            font-size: 1.2em;
                            font-weight: 900;
                            margin-bottom: .3em;
                        }
                    }

                    &::before {

                        content: url(/images/check.svg);
                        width: 3em;
                    }

                }
            }
        }
    }

    .portfolio-section {
        width: 100%;

        & .portfolio-container {
            padding: 1em;
            max-width: 1200px;
            width: 100%;
            margin: auto;


            & .portfolio-heading {
                margin-bottom: 1em;

            }

            & .portfolio-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;

            }
        }
    }

}