// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$black: #000814;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
.standard-icon{
    width: 2em;
}