// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$black: #000814;
$primaryred: #e5383b;
$lightgray: #8a8b8b;
$white: #e9ecef;
$pirmary-orange: #d5893d;
$secondary-black: #424242;
$primary-text-color: #fff;
$secondary-text-color: #8a8b8b;
$pri-bdr-rad: .5em;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
.standard-icon{
    width: 2em;
}