.button {
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border: 2px solid $primaryred;
  font-size: .9em;

  &:hover {
    background-color: $primaryred;
    transition: all .5s;
  }
}

.sec-btn {
  color: $primaryred;
  text-decoration: underline;
  display: inline-block;

  & span {
    position: relative;
    font-size: .9em !important;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background: center url(/images/next.svg);
      background-size: cover;
      width: 1em;
      height: 1em;
      display: block;
      animation: move 2s infinite ease-in-out;
    }
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

main nav {
  animation: fadeIn ease 2s;
}

#loader {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 8em;
  justify-content: center;
  align-items: flex-start;
  animation: fadeOut ease 1s;
  animation-delay: 2s;
  background-color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

$triangle-size: 150px;
$triange-speed: 2000ms;
$triangle-speed-basis: 2000ms / 5;

@keyframes grow-and-fade {
  0% {
    opacity: 0;
    transform: scale(0.1) translatez(0);
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1) translatez(0);
  }
}

@keyframes pulsing-fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0.8;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.triangle {
  position: relative;
  top: 0;
  animation: grow-and-fade $triange-speed linear infinite;
  height: $triangle-size;
  left: 0;
  opacity: 0;
  width: $triangle-size;
  transform: translatez(0);
  transform-origin: 50% 60%;
  position: absolute;
  will-change: opacity, transform;

  &-wrapper {
    height: $triangle-size;
    position: relative;
    width: $triangle-size;
  }

  &-loading {
    animation: pulsing-fade 2000ms ease forwards;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    left: 50%;
    letter-spacing: 8px;
    margin-left: 4px;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
  }

  &-svg {
    margin-top: -20px;
    opacity: 0.5;
    overflow: visible;
  }

  &-polygon {
    stroke-width: 5px;
  }

  &-1 {
    animation-delay: $triangle-speed-basis * 0;
  }

  &-1 &-polygon {
    stroke: hotpink;
  }

  &-2 {
    animation-delay: $triangle-speed-basis * 1;
  }

  &-2 &-polygon {
    stroke: aqua;
  }

  &-3 {
    animation-delay: $triangle-speed-basis * 2;
  }

  &-3 &-polygon {
    stroke: cornflowerblue;
  }

  &-4 {
    animation-delay: $triangle-speed-basis * 3;
  }

  &-4 &-polygon {
    stroke: yellow;
  }

  &-5 {
    animation-delay: $triangle-speed-basis * 4;
  }

  &-5 &-polygon {
    stroke: white;
  }
}

// Landing 
.custom-shape-divider-bottom-1628883224 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628883224 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1628883224 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1628883224 svg {
    width: calc(191% + 1.3px);
    height: 110px;
  }
}