.button {
  padding: 10px 30px;
  color: white;
  background-color: $primaryred;
  text-decoration: none;
  border: 2px solid $primaryred;
  font-size: .9em;
  border-radius: .5em;

  &:hover {
    opacity: .8;
    transition: all .5s;
  }
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 3px;
  height: 45px;
  background-color: white;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}


.long-arrow-right {
  transform: rotate(135deg);
}

.long-arrow-right {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.sec-btn {
  color: $primaryred;
  text-decoration: underline;
  display: inline-block;

  & span {
    position: relative;
    font-size: .9em !important;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background: center url(/images/next.svg);
      background-size: cover;
      width: 1em;
      height: 1em;
      display: block;
      animation: move 2s infinite ease-in-out;
    }
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

main nav {
  animation: fadeIn ease 2s;
  position: relative;
}