.button {
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-size: .9em;

  &:hover {
    background-color: $primaryred;
    transition: all .5s;
  }
}

.sec-btn {
  color: $primaryred;
  text-decoration: underline;
  display: inline-block;

  & span {
    position: relative;
    font-size: .9em !important;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background: center url(/images/next.svg);
      background-size: cover;
      width: 1em;
      height: 1em;
      display: block;
      animation: move 2s infinite ease-in-out;
    }
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

main nav {
  animation: fadeIn ease 2s;
  position: relative;
}