#gradient-canvas {
    position: absolute;
  width:100%;
  height:100%;
  --gradient-color-1: #ffc300; 
  --gradient-color-2: #fff; 
  --gradient-color-3: #fff;  
  --gradient-color-4: #fff;
  z-index: -1;  
}