@media (min-width: 0px) {
    .standard-landing {
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        background-color: black;
        border: 0;
        color: white;
        padding: 1em;
        & .standard-heading{
            text-align: left;
            & h1 {
                margin-bottom: .5em;
            }
        }
    }

}