@media (min-width: 0px) {
    .standard-landing {
        height: 34vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(/images/tulsa.jpg);
        background-size: cover;
        background-position: center 10%;
        border: 0;
        color: white;
        padding: 1em;
        & .standard-heading{
            text-align: left;
            & h1 {
                margin-bottom: .5em;
            }
        }
    }

}