.popup {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 20000;

    >div {
        height: 100%;
        width: 100%;
        padding: 10em 1em 1em 1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        :nth-child(1){
            margin-bottom: 20px;
            width: 300px;
        }
        :nth-child(2){
            margin-bottom: 20px;
        }
        :nth-child(3){
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            :nth-child(1){
                margin-right: 10px;
            }
        }
    }
}
