@media (min-width: 0px) {
    .port-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: $box-shadow;
        overflow: hidden;
        max-width: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }

    .port-card-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        min-height: 220px;
    }

    .port-card-header img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .tag {
        background-color: #fff;
        border-radius: 50px;
        font-size: 12px;
        margin: 0;
        color: #000;
        border: 1px solid #000;
        padding: 2px 10px;
        text-transform: uppercase;
    }

    .port-card-body h4 {
        margin: 10px 0;
    }

    .port-card-body {
        font-size: 13px;

        & p {
            margin-bottom: .8em;
        }
    }

    .user {
        display: flex;
        margin-top: auto;
    }

    .user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-info h5 {
        margin: 0;
    }

    .user-info small {
        color: #888785;
    }

    // Form
}

@media (min-width: 375px) {
    .port-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: $box-shadow;
        overflow: hidden;
        max-width: 330px;
        width: 100%;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }

    .port-card-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        min-height: 220px;
    }

    .port-card-header img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 50% 0%;
    }

    .tag {
        background-color: #000;
        border-radius: 50px;
        font-size: 12px;
        margin: 0;
        color: #fff;
        border: 1px solid #000;
        padding: 2px 10px;
        text-transform: uppercase;
    }

    .port-card-body h4 {
        margin: 10px 0;
        font-size: 1.4em;
    }

    .port-card-body {
        font-size: 13px;

        & p {
            margin-bottom: .8em;
            font-size: 1.2em;
        }
    }

    .user {
        display: flex;
        margin-top: auto;
    }

    .user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-info h5 {
        margin: 0;
        font-size: 1em;
    }

    .user-info small {
        color: #888785;
    }
}
@media (min-width: 1024px){
    .port-card{
        margin: 1em;
    }
}