/* Subscription Section */
.subscription-section {
  width: 100%;
}
.subscription-container {
  padding: 1em;
  margin: auto;
}
.sub-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  padding: 1em;
  margin: auto;
  max-width: 1000px;
  & button {
    color: black;
  }
}

.pricing-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 325px;
  border-radius: 1rem;
  height: 400px;
  background-color: #fff;

  margin-bottom: 2em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.pricing-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}
.pricing-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing-card-heading {
  font-weight: 300;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.heading-silver {
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  border-radius: 1rem 1rem 0 0;
}
.heading-bronze {
  background: linear-gradient(to right, #603813, #b29f94);
  border-radius: 1rem 1rem 0 0;
}
.heading-gold {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #aa771c);
  border-radius: 1rem 1rem 0 0;
}
.pricing-card-price {
  font-weight: 300;
  font-size: 2em;
}
.pricing-card-list {
  list-style: none;
}
.pricing-icon img {
  width: 1em;
  margin: auto 0.5em;
}
.pricing-card-list span {
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.pricing-card-list li {
  margin-bottom: 0.8rem;
  display: flex;

  align-items: center;
  text-align: center;
}
.pricing-card-btn {
  width: 9em;
  height: 2.5em;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin: 1em;
  border: 1px solid #c9d1d8;
  &:hover {
    background-color: white;
  }
}
.pm {
  font-size: 0.5em;
}

@media (min-width: 1000px) {
  .pricing-card {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    border-radius: 0.5rem;
    height: 500px;

    margin-bottom: 1em;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
  .pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    margin: auto;
  }
  .pricing-card-heading {
    font-weight: 300;
    width: 100%;
    height: 3rem;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.5em;
    & button {
      color: black;
    }
  }
  .gold-pricing-card {
    order: 2;
    transform: scale(1.1);
  }
  .silver-pricing-card {
    order: 1;
    margin-right: 0.5em;
  }
  .bronze-pricing-card {
    order: 3;
    margin-left: 0.5em;
  }
  .heading-silver {
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .heading-bronze {
    background: linear-gradient(to right, #603813, #b29f94);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .heading-gold {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #aa771c);
    border-radius: 0.5rem 0.5rem 0 0;
  }
}