// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 
  
@font-face{ 
	font-family: 'silka';
	src: url('/fonts/') format('embedded-opentype'),
       url('/fonts/silka-regular-webfont.woff') format('woff'),
       url("/fonts/silka-regular-webfont.woff2") format("woff2"),

	     url('/fonts/silka-regular-webfont.ttf') format('truetype'),
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: silka;
  body {
    background-color: $bg-gray;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}