@charset "UTF-8";
// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Base stuff
@import "base/base";
  
// 3. Layout-related sections
@import "layout/header";
@import "layout/footer";

// 4. Components
@import "components/fixedButton";
@import "components/portCards";
@import "components/subsCards";
@import "components/form";
@import "components/gradient";
@import "components/landing";
@import "components/button";
@import "components/animate";

// 5. Page-specific styles      
@import "pages/home";
@import "pages/contact";
         