.standard-icon {
  width: 2em;
}

/**
 * Set up a decent box model on the root element
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Navigation Scss */
body {
  background-color: #fff;
}

nav {
  z-index: 1000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  width: 100vw;
  background-color: transparent;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
  margin: 1em;
}

.nav-links li {
  list-style: none;
  padding: 5px;
}

.nav-links li:nth-child(1) {
  border-bottom: 1px solid #000;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links li:hover {
  border-bottom: 1px solid #000;
}

.hamburger.hamburger--spring {
  display: none;
}

.logo {
  width: auto;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 100;
}

.logo a {
  color: black;
  text-decoration: none;
}

.nav-menu-logo {
  display: none;
  color: #fff;
}

.nav-icon {
  display: none;
}

/* burger css */
.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 1.5px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* media queries */
@media screen and (max-width: 1024px) {
  body {
    display: block;
    overflow-x: hidden;
  }
  .hamburger.hamburger--spring {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    height: 6vh;
    padding: 0.5em;
  }
  nav .is-active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .nav-links {
    margin: 0;
    position: fixed;
    z-index: 0;
    width: 75%;
    right: 0px;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    background-color: #fff;
  }
  .nav-links li {
    opacity: 0;
    padding: 0.5em 2em;
    font-size: 1.2em;
    text-align: left;
    font-weight: 300;
    color: black;
    margin: 0.3em;
    width: 85%;
  }
  .nav-links li a {
    color: black;
  }
  .nav-links li:nth-child(1) {
    margin-top: 3em;
    border-bottom: 1px solid black;
  }
  .nav-links li:hover {
    border-bottom: 1px solid #000;
  }
  .logo {
    display: none;
    z-index: 100;
    font-weight: 100;
    margin: 0;
    width: auto;
    color: black;
  }
  .is-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-menu-logo {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 2em;
    color: #fff;
    margin: auto;
  }
  .social-media-icons {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    bottom: 4em;
    padding: 1em;
  }
  .nav-icon {
    display: block;
    width: 2em;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #495057;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #dee2e6;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: white;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 100%;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 100%;
  }
}

.credit {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  padding: 1em;
}

.credit p {
  color: white;
}

.credit a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Main Container CSS */
@media (min-width: 0px) {
  body {
    background-image: repeating-linear-gradient(0deg, rgba(219, 219, 219, 0.2) 0px, rgba(219, 219, 219, 0.2) 1px, transparent 1px, transparent 21px), repeating-linear-gradient(90deg, rgba(219, 219, 219, 0.2) 0px, rgba(219, 219, 219, 0.2) 1px, transparent 1px, transparent 21px), -webkit-gradient(linear, left top, right top, from(white), to(white));
    background-image: repeating-linear-gradient(0deg, rgba(219, 219, 219, 0.2) 0px, rgba(219, 219, 219, 0.2) 1px, transparent 1px, transparent 21px), repeating-linear-gradient(90deg, rgba(219, 219, 219, 0.2) 0px, rgba(219, 219, 219, 0.2) 1px, transparent 1px, transparent 21px), linear-gradient(90deg, white, white);
  }
  .landing-section {
    position: relative;
    width: 100%;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .landing-section .landing-container {
    position: relative;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50vh 40vh;
        grid-template-rows: 50vh 40vh;
    height: 100%;
    overflow: hidden;
    place-items: center;
  }
  .landing-section .landing-container .landing-heading {
    height: 100%;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 2em;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 1.3em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.3em;
    margin-bottom: .5em;
    font-size: .9em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: .7em 1em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
  .intro-section {
    width: 100%;
  }
  .intro-section .intro-heading {
    padding: 1em;
    text-align: center;
  }
  .intro-section .intro-heading h2 {
    margin-bottom: .5em;
  }
  .intro-section .intro-heading p {
    line-height: 1.4em;
  }
  .intro-section .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 1em;
  }
  .intro-section .service {
    padding: 1em;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 1em;
  }
  .intro-section .service *:nth-child(2) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .5em;
  }
  .intro-section .service img {
    width: 3.5em;
    height: 3.5em;
    margin-bottom: .5em;
  }
  .pricing-section {
    width: 100%;
    height: auto;
  }
  .pricing-section .pricing-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    width: 100%;
  }
  .pricing-section .pricing-container .pricing-intro {
    padding: 1em;
    font-size: 1.2em;
  }
  .pricing-section .pricing-container .pricing-intro .textcolor {
    color: blue;
  }
  .pricing-section .pricing-container .pricing-intro *:nth-child(2),
  .pricing-section .pricing-container .pricing-intro :nth-child(3) {
    margin-bottom: .7em;
  }
  .pricing-section .pricing-container .pricing-intro img {
    max-width: 100%;
    margin-bottom: .2em;
  }
  .pricing-section .pricing-container .list-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .pricing-section .pricing-container .list-items .list-item {
    padding: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: auto;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  .pricing-section .pricing-container .list-items .list-item > div {
    padding: 0 .5em;
  }
  .pricing-section .pricing-container .list-items .list-item > div *:nth-child(1) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .3em;
  }
  .pricing-section .pricing-container .list-items .list-item::before {
    content: url(/images/check.svg);
    width: 3em;
  }
}

@media (min-width: 375px) {
  .landing-section {
    position: relative;
    height: 100vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .landing-section .landing-container {
    position: relative;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 40vh 60vh;
        grid-template-rows: 40vh 60vh;
    place-items: center;
    overflow: hidden;
  }
  .landing-section .landing-container .landing-heading {
    height: 100%;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 2em;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.5em;
    margin-bottom: .7em;
    font-size: 1.2em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1.7em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
}

@media (min-width: 410px) {
  .landing-section {
    position: relative;
    height: 100vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .landing-section .landing-container {
    position: relative;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 40vh 50vh;
        grid-template-rows: 40vh 50vh;
    place-items: center;
    overflow: hidden;
  }
  .landing-section .landing-container .landing-heading {
    height: 100%;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 2em;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.5em;
    margin-bottom: .7em;
    font-size: 1.2em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1.7em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
}

@media (min-width: 530px) {
  .landing-section {
    position: relative;
    height: 100vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .landing-section .landing-container {
    position: relative;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 40vh 60vh;
        grid-template-rows: 40vh 60vh;
    place-items: center;
    overflow: hidden;
  }
  .landing-section .landing-container .landing-heading {
    height: 100%;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 2em;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.5em;
    margin-bottom: .7em;
    font-size: 1.2em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1.7em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
  .intro-section {
    width: 100%;
  }
  .intro-section .intro-heading {
    padding: 1em;
    text-align: center;
  }
  .intro-section .intro-heading h2 {
    margin-bottom: .5em;
  }
  .intro-section .intro-heading p {
    line-height: 1.4em;
  }
  .intro-section .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 70%;
    margin: auto;
    padding: 1em;
  }
  .intro-section .service {
    padding: 1em;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 1em;
  }
  .intro-section .service *:nth-child(2) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .5em;
  }
  .intro-section .service img {
    width: 3.5em;
    height: 3.5em;
    margin-bottom: .5em;
  }
  .pricing-section {
    width: 100%;
    height: auto;
  }
  .pricing-section .pricing-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    width: 100%;
  }
  .pricing-section .pricing-container .pricing-intro {
    padding: 1em;
    font-size: 1.2em;
    width: 80%;
    margin: auto;
  }
  .pricing-section .pricing-container .pricing-intro .textcolor {
    color: blue;
  }
  .pricing-section .pricing-container .pricing-intro *:nth-child(2),
  .pricing-section .pricing-container .pricing-intro :nth-child(3) {
    margin-bottom: .7em;
  }
  .pricing-section .pricing-container .pricing-intro img {
    max-width: 100%;
    margin-bottom: .2em;
  }
  .pricing-section .pricing-container .list-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-items: center;
  }
  .pricing-section .pricing-container .list-items .list-item {
    padding: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  .pricing-section .pricing-container .list-items .list-item > div {
    padding: 0 .5em;
  }
  .pricing-section .pricing-container .list-items .list-item > div *:nth-child(1) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .3em;
  }
  .pricing-section .pricing-container .list-items .list-item::before {
    content: url(/images/check.svg);
    width: 3em;
  }
}

@media (min-width: 768px) {
  .landing-section {
    position: relative;
    height: 100vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .landing-section .landing-container {
    position: relative;
    margin: auto;
    max-width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 40vh 50vh;
        grid-template-rows: 40vh 50vh;
    place-items: center;
    overflow: hidden;
  }
  .landing-section .landing-container .landing-heading {
    height: 100%;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 2em;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.5em;
    margin-bottom: .7em;
    font-size: 1.2em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1.7em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .landing-section {
    position: relative;
    height: 100vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .landing-section .landing-container {
    position: relative;
    margin: auto;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-items: center;
    overflow: hidden;
    height: auto;
  }
  .landing-section .landing-container .landing-heading {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    top: 0;
    height: 100%;
  }
  .landing-section .landing-container .landing-heading h1 {
    font-size: 2.1em;
    margin-bottom: .5em;
  }
  .landing-section .landing-container .landing-heading p {
    line-height: 1.5em;
    margin-bottom: .7em;
    font-size: .9em;
  }
  .landing-section .landing-container .landing-heading a {
    color: #fff;
    text-decoration: none;
  }
  .landing-section .landing-container .landing-heading .landing-btn {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em 1.7em;
    background-color: #000814;
    border: 0;
  }
  .landing-section .landing-container img {
    width: 100%;
  }
  .landing-section .landing-container .landing-icon {
    font-size: 1.5em;
  }
  .intro-section {
    width: 100%;
  }
  .intro-section .intro-heading {
    padding: 1em;
    text-align: center;
  }
  .intro-section .intro-heading h2 {
    margin-bottom: .5em;
  }
  .intro-section .intro-heading p {
    line-height: 1.4em;
  }
  .intro-section .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding: 1em;
    width: 100%;
    max-width: 1200px;
  }
  .intro-section .service {
    padding: 1em;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 0;
    margin: 0 .5em;
  }
  .intro-section .service *:nth-child(2) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .5em;
  }
  .intro-section .service img {
    width: 3.5em;
    height: 3.5em;
    margin-bottom: .5em;
  }
  .pricing-section {
    width: 100%;
  }
  .pricing-section .pricing-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1em;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .pricing-section .pricing-container .pricing-intro {
    padding: 1em;
    font-size: 1.2em;
    width: 50%;
    margin: auto;
  }
  .pricing-section .pricing-container .pricing-intro .textcolor {
    color: blue;
  }
  .pricing-section .pricing-container .pricing-intro *:nth-child(2),
  .pricing-section .pricing-container .pricing-intro :nth-child(3) {
    margin-bottom: .7em;
  }
  .pricing-section .pricing-container .pricing-intro img {
    max-width: 100%;
    margin-bottom: .2em;
  }
  .pricing-section .pricing-container .list-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-items: center;
    max-width: 80%;
    margin: auto;
  }
  .pricing-section .pricing-container .list-items .list-item {
    padding: 0 .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1em;
    height: 100%;
  }
  .pricing-section .pricing-container .list-items .list-item > div {
    padding: 0 .5em;
  }
  .pricing-section .pricing-container .list-items .list-item > div *:nth-child(1) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .3em;
  }
  .pricing-section .pricing-container .list-items .list-item::before {
    content: url(/images/check.svg);
    width: 3em;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .landing-section {
    height: auto;
  }
}

@media (min-width: 1350px) {
  .pricing-section {
    width: 100%;
  }
  .pricing-section .pricing-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 0em;
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: auto;
  }
  .pricing-section .pricing-container .pricing-intro {
    padding: 1em;
    font-size: 1.2em;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing-section .pricing-container .pricing-intro .textcolor {
    color: blue;
  }
  .pricing-section .pricing-container .pricing-intro *:nth-child(2),
  .pricing-section .pricing-container .pricing-intro :nth-child(3) {
    margin-bottom: .7em;
    width: 100%;
  }
  .pricing-section .pricing-container .pricing-intro img {
    width: 50%;
    margin-bottom: .2em;
  }
  .pricing-section .pricing-container .list-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-items: center;
    max-width: 100%;
    margin: auto;
  }
  .pricing-section .pricing-container .list-items .list-item {
    padding: 0 .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1em;
    height: 100%;
  }
  .pricing-section .pricing-container .list-items .list-item > div {
    padding: 0 .5em;
  }
  .pricing-section .pricing-container .list-items .list-item > div *:nth-child(1) {
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: .3em;
  }
  .pricing-section .pricing-container .list-items .list-item::before {
    content: url(/images/check.svg);
    width: 3em;
  }
}
/*# sourceMappingURL=main.css.map */